.color-page {
    width: 100%;
    .color-cards {
        width: 90%;
        margin: auto;
        background-color: rgb(231, 134, 134);
        .single-card {
            width: 208px;
            margin: 10px;
            float: left;
        }
    }
}