<div class="color-page">
  <layout></layout>
  <Affix :offset-top="60">
    <Row class="color-search">
      <Col span="6" :offset="7">
        <Input placeholder="按关键字搜索"></Input>
      </Col>
      <Col span="3">
        <Button-group>
          <Button type="primary">
              搜名称
          </Button>
          <Button type="primary">
              搜作者
          </Button>
        </Button-group>
      </Col>
      <Col span="4">
        <Radio-group v-model="orderBy" class="search-order" type="button" size="small">
          <Radio label="time">
            <Icon type="arrow-up-c" v-if="orderBy==='time' && ordertype==='asc'"></Icon>
            <Icon type="arrow-down-c" v-if="orderBy==='time' && ordertype==='desc'"></Icon>
            时间
          </Radio>
          <Radio label="hot">
              <Icon type="arrow-up-c" v-if="orderBy==='hot' && ordertype==='asc'"></Icon>
              <Icon type="arrow-down-c" v-if="orderBy==='hot' && ordertype==='desc'"></Icon>
              热度
          </Radio>
          <Radio label="userId">我的</Radio>
        </Radio-group>
        <!-- <span class="search-order">
          <Icon type="happy-outline"></Icon>
          <a>我的</a>
        </span>
        <span class="search-order">
          <Icon type="ios-clock-outline"></Icon>
          <a>按时间排序</a>
        </span>
        <span class="search-order">
          <Icon type="fireball"></Icon>
          <a>按热度排序</a>
        </span> -->
      </Col>
      <Col span="2">
        <Icon @click.native="previewColor('new')" type="plus-circled" class="add-button"></Icon>
      </Col>
    </Row>
  </Affix>
  <div class="color-cards">
    <waterfall :line-gap="285" :watch="allcolorDisk">
        <waterfall-slot
          v-for="(item, index) in allcolorDisk"
          :width="260"
          :height="`${diskType[item.disk_type].includ.length * 30 + 110}`"
          :order="index"
          :key="item.id"
          move-class="item-move"
        >
        <Card class="single-card">
            <h3 slot="title">
              {{ item.disk_name }}
            </h3>
            <span slot="extra" @click.prevent="previewColor(index)">
              <span style="font-size:12px;color:#b3b3b3">{{ item.hot_view }}</span>
              <a href="#" style="font-size:18px"><Icon type="eye"></Icon></a>
            </span>
            <div v-for="color in diskType[item.disk_type].includ"
                class="cards-content"
                :style="`background-color:${item[color[0]]};color:${item[color[1]]};`">
              背景:{{item[color[0]]}};  文字：{{item[color[1]]}}
            </div>
            <span class="cards-dec" style="float: left;">
              布局:{{diskType[item.disk_type].typeName}}
            </span>
            <span class="cards-dec" style="float: right;">
              by:{{item.user_name}}
            </span>
          </Card>
        </waterfall-slot>
      </waterfall>
  </div>
  <Modal v-model="colorPreviewShow" :width="1000" @on-cancel="colorPreviewShow = false">
    <colorDialog :color="colorPreview" :diskTypeNum="diskType" :show="colorPreviewShow" @subColor="subColor"></colorDialog>
    <div slot="footer">
        <Button type="primary" size="large" long @click="colorPreviewShow = false">关闭</Button>
    </div>
  </Modal>
</div>
