<div class="color-dialog">
    <div class="color-top"
        :style="`background-color: ${color.bcg_head};color:${color.fc_head}`">
        标题
    </div>
    <div class="color-content"
        :style="`background-color: ${color.bcg_content};color:${color.fc_content}`">
        <span>主体内容</span>
        <span class="color-left"
            v-if="color.disk_type === 1 || color.disk_type === 3"
            :style="`background-color: ${color.bcg_left};color:${color.fc_left}`">
            左侧边栏
        </span>
        <span class="color-right"
            v-if="color.disk_type === 2 || color.disk_type === 3"
            :style="`background-color: ${color.bcg_right};color:${color.fc_right}`">
            右侧边栏
        </span>
    </div>
    <colorPicker v-model="pickColor"></colorPicker>
</div>
