<div class="color-dialog" v-if="show">
    <div class="color-box">
        <div class="color-top"
            :style="`background-color: ${colorDetial.bcg_head};color:${colorDetial.fc_head}`">
            标题
        </div>
        <div class="color-content"
            :style="`background-color: ${colorDetial.bcg_content};color:${colorDetial.fc_content}`">
            <span>主体内容</span>
            <span class="color-left"
                v-if="diskTypeNum[colorDetial.disk_type].simple.indexOf('left') > -1"
                :style="`background-color: ${colorDetial.bcg_left};color:${colorDetial.fc_left}`">
                左侧边栏
            </span>
            <span class="color-right"
                v-if="diskTypeNum[colorDetial.disk_type].simple.indexOf('right') > -1"
                :style="`background-color: ${colorDetial.bcg_right};color:${colorDetial.fc_right}`">
                右侧边栏
            </span>
            <span class="color-foot"
                v-if="diskTypeNum[colorDetial.disk_type].simple.indexOf('foot') > -1"
                :style="`background-color: ${colorDetial.bcg_foot};color:${colorDetial.fc_foot}`">
                底部
            </span>
        </div>
    </div>
    <div class="color-detial">
        <span v-if="fontEndUserInfo.id === colorDetial.user_id">
            <Button-group v-if="editDetial" class="fl-right" size="small">
                <Button type="primary" @click="closeColor('true')">保存</Button>
                <Button @click="closeColor('false')">取消</Button>
            </Button-group>
            <Button-group v-else class="fl-right" size="small">
                <Button type="primary" size="small" @click="editDetial = true">修改</Button>
                <Button type="primary" size="small" @click="delColorDisk">删除</Button>
            </Button-group>
        </span>
        <br/>
        <p class="detial-row">
            <h4>色盘名称：</h4>
            <Input v-if="editDetial" size="small" v-model="colorDetial.disk_name"></Input>
            <span v-else>{{colorDetial.disk_name}}</span>
        </p>
        <p class="detial-row">
            <h4>色盘类型：</h4>
            <Select v-if="editDetial" size="small" v-model="colorDetial.disk_type">
                <Option v-for="item in diskTypeNum" :value="item.type" :key="item.type">{{ item.typeName }}</Option>
            </Select>
            <span v-else>{{diskTypeNum[colorDetial.disk_type] && diskTypeNum[colorDetial.disk_type].typeName}}</span>
        </p>
        <p class="detial-row"><h4>作者：</h4>{{colorDetial.user_name}}</p>
        <p  class="detial-row"
            v-for="(includ, index) in diskTypeNum[colorDetial.disk_type].includ"
            @click="changeColor(includ, index)"
            :style="`background-color:${colorDetial[includ[0]]};color:${colorDetial[includ[1]]};`">
            <span class="detial-col">底:{{colorDetial[includ[0]]}}</span>
            <span class="detial-col">字:{{colorDetial[includ[1]]}}</span>
            <Icon v-if="(editCheck===index) && editDetial" class="detial-icon" type="checkmark-circled"></Icon>
        </p>
        <span v-if="editDetial">
            <p class="detial-row" >
                <Radio-group v-model="editColorType">
                    <Radio label="bcg">底</Radio>
                    <Radio label="fc">字</Radio>
                </Radio-group>
            </p>
            <colorPicker class="detial-picker" v-model="colorDetial[`${editColorType}_${editColor}`]" :disabled="!editDetial"></colorPicker>
            <Input class="detial-input" size="small" v-model="colorDetial[`${editColorType}_${editColor}`]"></Input>
        </span>
    </div>
</div>
