.color-dialog {
    padding: 10px;
    .color-box {
        display: inline-block;
        width: 79%;
        margin: 10px auto;
        font-weight: 900;
        font-size: 18px;
        .color-top {
            display: block;
            height: 50px;
            padding: 10px;
        }
        .color-content {
            display: block;
            position: relative;
            height: 450px;
            text-align: center;
            font-size: 18px;
            line-height: 50px;
            .color-left {
                display: inline-block;
                position: absolute;
                left: 0;
                height: 450px;
                width: 140px;
                font-size: 18px;
                line-height: 50px
            }
            .color-right {
                display: inline-block;
                position: absolute;
                right: 0;
                height: 450px;
                width: 140px;
                font-size: 18px;
                line-height: 50px
            }
            .color-foot {
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0px;
                height: 55px;
                width: 100%;
                font-size: 14px;
                line-height: 55px;
            }
        }
    }
    .color-detial {
        float: right;
        width: 20%;
        font-size: 13px;
        margin-top: 15px;
        .detial-row {
            line-height: 30px;
            margin-top: 13px;
            .detial-col {
                padding-left: 8px;
            }
            .detial-icon {
                float: right;
                line-height: 30px;
                margin-right: 5px;
                font-size: 14px;
            }
        }
        .detial-picker {
            margin-top: 5px;
            border: solid 2px #bbbbbb;
        }
        .detial-input {
            width:100px;
            margin-top: -22px;
        }
    }
}