.person-page {
    .person-card {
        margin: 30px 20px 0 50px;
        width: 220px;
        float: left;
        .ivu-form-item-label {
            font-weight: 900;
            font-size: 13px;
        }
        .ivu-form-item {
            margin-bottom: 8px;
            vertical-align: top;
            zoom: 1;
        }
    }
    .program-card {
        margin-top: 30px;
        width: 70%;
        float: left;
        .add-project-icon {
            text-align: right;
            padding-right: 8px;
            font-size: 14px;
            color: #ce5655;
            cursor: pointer;
        }
        .project-list {
            width: 100%;
            text-align: left;
            .project-box {
                padding: 10px;
                border-radius: 12px;
                box-shadow: 1px 1px 2px 1px #d6d6d6;
                margin: 15px 0;
                .box-title {
                    border-bottom: solid 1px #efefef;
                    padding: 0 8px;
                    color: #5a5a5a;
                    .title-expand {
                        float: right;
                    }
                }
                .box-content {
                    padding: 10px 15px;
                    line-height: 30px;
                    color: #636363;
                    .check-icon {
                        color: #fff;
                        padding: 4px 5px;
                        border-radius: 4px;
                        margin: 0 5px;
                        font-size: 12px;
                    }
                    b {
                        color: #656565;
                    }
                    .row-table {
                        .row-head {
                            background-color: #efefef;
                        }
                        .row-content {
                            border-bottom: solid 1px #ddd;
                        }
                        .row-content:hover {
                            border-bottom: solid 1px #ddd;
                            background-color: #f9f9f9;
                        }
                    }
                    
                }
            }
        }
    }
}